.gray-background {
  background-color: #a4a4a4;
}

.border-radius {
  border-radius: 9rem;
}

.border-radius-m {
  border-radius: 9rem;
}

@media (max-width: 639px) {
  .border-radius-m {
    border-radius: 4rem; 
  }
}
/* ScrolL Bar */

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
