@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "JetBrains Mono", sans-serif;
}

.gray-background {
  background-color: #a4a4a4;
}

.border-radius2 {
  border-radius: 2.2rem;
}

.border-radius3{
border-radius:3rem
}